<%= provide(:title, "Let the right one in") %>

<h1>Tune in to your inner Hababa</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

    <%= f.label :email %>
    <%= f.email_field :email, class: 'form-control' %>

    <%= f.label :password %>
    <%= link_to "(I forgot my precious password)", new_password_reset_path %>
    <%= f.password_field :password, class: 'form-control' %>

    <%= f.label :remember_me, class: "checkbox inline" do %>
    <%= f.check_box :remember_me %>
    <span>Don't forget me</span>
    <% end %>

    <%= f.submit "Let me in", class: 'btn btn-primary' %>
    <% end %>
    <br>

    <p>New to Hababa? <%= link_to "Become a Hababa missionary now!", signup_path %></p>

  </div>
</div>
